/*header*/

header{
	height:65px;
	background: #72a5e4;
}
.navbar-brand img{
	height:34px;
}
.signup-login{
	float:right;
	border-radius:5px;
	padding-right:1em;
	padding-top:1em;
}
.signup-login a{
	color:white;
	display: inline-block;
float: left;
padding: 10px;
border: 1px solid rgba(255,255,255,.99);
/*-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; flat or rounded??? */
line-height: 16px;
margin: 0;
text-transform: uppercase;
font-size: 11px;
}
#signup{
	-webkit-border-top-right-radius: 0;
-moz-border-radius-topright: 0;
border-top-right-radius: 0;
-webkit-border-bottom-right-radius: 0;
-moz-border-radius-bottomright: 0;
border-bottom-right-radius: 0;
border-right: 0;
}
#login{
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
}
.signup-login a:hover {
	color: rgb(73, 73, 73);
	background-color: #f7fbfc;
	text-decoration:none;
}
.search{
	border-top:6px solid #dadfe1;
	border-bottom:6px solid #dadfe1;
	padding-top: 2em;
	padding-bottom: 2.5em;
}
.form-group{
	margin-top: .85em;
	margin-left: 3%;
}
.form-group i{
	position: relative;
	top: .25em;
	color:#3ccd71;
	padding-right: .2em;
}
.search-form{
	display:inline;
}
@media (min-width:576px){
	.search-field{
		width:320px;
	}
	.search{
		padding-left: 5em;
	}
	.find-tutors{
		margin-left: .3em;
	}
}
@media (max-width:575px){
	.search-field{
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.search{
		padding-left:0;
	}
	.find-tutors{
		margin-left:0;
		margin-top: .5em;
	}
	.form-group{
		width:100%;
	}
	.form-group i{
		display:none;
	}
}
.search-field{
	background: #fff url('https://d3dma7a8zw52bz.cloudfront.net/assets/icons/icon_search2x-8263f2c8f9774ccd045d966752e8b049.png') no-repeat 10px center;
height: 40px;
padding-left:45px;
line-height: auto;
color: #555555;
vertical-align: middle;
background-color: #ffffff;
border: 1px solid #cccccc;
border-radius: 0px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/*end header*/

.payment{
	zoom:1;
	overflow:hidden;
	padding:1em;
	background-color: #F2F3F5;
}

.cards{
	list-style: none;
}
.cards li{
	display:inline-block;
	width:46px;
	height:26px;
}
.visa{
	background-image:url('assets/visa.png');
}
.amex{
	background-image:url('assets/amex.png');
}
.mastercard{
	background-image:url('assets/mastercard.png');
}
.discover{
	background-image:url('assets/discover.png');
}
.grayed{
/*Grayscale*/
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.payment h3{
	color:#5d5d5e;
}
.show-if-not-logged-in a{
	display:block;
	border-radius: 3px;
	z-index: 9999;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
.show-if-not-logged-in > .login{
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
background-color: transparent;
color: #72a5e4;
border: 1px solid #72a5e4;
padding: 17px 39px;
font-size: 18px;
line-height: 1.33;
}
.show-if-not-logged-in > .signup{
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
background-color: transparent;
color: #3ccd71;
border: 1px solid #3ccd71;
padding: 17px 39px;
font-size: 18px;
line-height: 1.33;

}
.show-if-not-logged-in > .login:hover{
	color:white;
	background-color:#78acec;
	text-decoration: none;
}
.show-if-not-logged-in > .signup:hover{
	color:white;
	background-color:#3ccd71;
	text-decoration: none;
}
.show-if-not-logged-in > p{
	text-transform: uppercase;
	font-size:2em;
	color:#5d5d5e;
	text-align: center;
	margin-top:1.5em;
	margin-bottom:1.5em;
	font-weight: 600;
}
.login-prompt{
	border-right:1px solid gray;
}
.create-account > h4{
	color:#5d5d5e;
	font-weight:600;
}
.create-account > form > .form-group{
 	color:#5d5d5e;
 }
.label{
	font-weight:400;
}
.create-account-form > .form-group > input{
	float: right;
	margin-right: 11em; /*this needs @media tags*/
	width: 160px;	
}