/*header*/
body{
	padding-top:65px;
}
header{
	height:65px;
	background: #72a5e4;
}
.navbar-brand img{
	height:34px;
}
.signup-login{
	float:right;
	border-radius:5px;
	padding-right:1em;
	padding-top:1em;
}
.signup-login a{
	color:white;
	display: inline-block;
float: left;
padding: 10px;
border: 1px solid rgba(255,255,255,.99);
/*-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; flat or rounded??? */
line-height: 16px;
margin: 0;
text-transform: uppercase;
font-size: 11px;
}
#signup{
border-radius: 4px;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topright: 0;
border-top-right-radius: 0;
-webkit-border-bottom-right-radius: 0;
-moz-border-radius-bottomright: 0;
border-bottom-right-radius: 0;
border-right: 0;
}
#login{
border-radius: 4px;
-webkit-border-top-left-radius: 0;
-moz-border-radius-topleft: 0;
border-top-left-radius: 0;
-webkit-border-bottom-left-radius: 0;
-moz-border-radius-bottomleft: 0;
border-bottom-left-radius: 0;
}
.signup-login a:hover {
	color: rgb(73, 73, 73);
	background-color: #f7fbfc;
	text-decoration:none;
}
.search{
	border-top:6px solid #dadfe1;
	border-bottom:6px solid #dadfe1;
	padding-top: 2em;
	padding-bottom: 2.5em;
}
.form-group{
	margin-top: .85em;
	margin-left: 3%;
	width:100%;
}
.form-group i{
	position: relative;
	top: .25em;
	color:#3ccd71;
	padding-right: .2em;
}
.search-form{
	display:inline;
}
.search-field{
	background: #fff url('assets/search.png') no-repeat;
background-position: 97% center;
height: 40px;
padding-left:10px;
padding-right: 33px;
line-height: auto;
color: #555555;
vertical-align: middle;
background-color: #ffffff;
border: 1px solid #cccccc;
border-radius: 0px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
border-radius:5px;
width:80%;
}
.navbar > .user-info{
	padding-left:0;
}
.user-info{
	float:right;
	padding-right:1em;
}
.user-pic{
	display:inline-block;
	float:right;
}
.credentials{
	display:inline-block;
	text-align: center;
	float: right;
}
.user-pic > a:hover{
	text-decoration:none;
}
.user-pic > a > img{
	height: 50px;
	margin-top: 7px;
	margin-right:1em;
	border: 2px solid white;
	border-radius: 50%;
}
 .user-name{
	color:white;
	font-weight:600;
	margin-top:7px;
}
.coin{
	font-weight:400;
	padding-top:.8em;
}
.coin a{
	color:white;
}
.head{
	max-height:65px;
	overflow:hidden;
}
.number-credits > img{
	height: 17px;
position: relative;
top: -1px;
margin-right: 6px;
}

/*login-popover*/
.login-box{
	position: absolute;
	top: 60px;
	right: 22px;
	z-index: 99999;
	display:none;
}
.arrow{
	width: 13px;
	height: 6px;
	position: relative;
	left: 15px;
	background: transparent url('assets/arrow.png') no-repeat 0 0;
}
.login-flyover{
	background-color:white;
	position:relative;
	border-radius:5px;
	text-align:center;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 3em;
	padding-right: 3em;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}
/* when login flyover comes up, change #login to this:*/

#login.clicked{
	color: rgb(73, 73, 73);
	background-color: #f7fbfc;
}
.js-login-form input{
	width: 100%;
	padding: 0px 10px;
	margin: 0 0 10px 0;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	height: 36px;
	color: #222;
	border: solid 1px #d7dfe0;
	background-color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.08);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.08);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.08);
}
.login-button{
	width: 100%;
height: 36px;
color:white;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background-color: #3ccd71;
font-weight: normal;
font-size: 16px;
text-shadow: none;
border: none;
-webkit-font-smoothing: antialiased;
}
.login-button:hover{
	background-color: #2BAC5A;
}
.forgot-password{
	font-size: 12px;
color: #4f78b6;
margin: 15px 0 0 0;
display:block;
}
/*end login-popover*/

/*end header*/

.top{
	background-color:#72a5e4;
	padding-bottom:.2em;
	padding-top:0.3em;
}
.top h1{
	color: white;
	text-align: center;
	padding-bottom: 1em;
	font-size: 4em;
	font-weight: 100;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}
.num-results{
	font-size:2.1em;
}
.subject{
	font-weight:600;
	text-transform: uppercase;
}

/*grid*/
.big-link:hover{
	text-decoration:none;
}
ul.ourHolder {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	height: auto;
	list-style:none;
	display:block;
	text-align:center;
	margin-bottom:3em;
}
ul.ourHolder li.item {
	background:#f0f0f0;
	background-size:cover;
	width: 206px;
	height: auto;
	text-align: center;
	overflow: hidden;

	display:inline-block;
	border:1px solid transparent;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.23);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.23);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.23);
	margin-top:2em;
}
li.item span{
	color:white;
	font-size:3em;
	text-transform: uppercase;
}
.tutor-name{
	color:#72a5e4;
}
.number-rating{
	font-size:3em;
	color:#579eee;
}
.cousre-numbers{
	color:#585858;
}
.more-info{
	display: inline-block;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
color: #3ccd71;
border: 1px solid #3ccd71;
	background-color: transparent;
padding: 17px 49px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
left: 14%;
position: absolute;
bottom: 72px;
z-index: 9999;
}
.more-info:hover{
	color:white;
	background-color:#3ccd71;
	text-decoration: none;
}
.send-message{
display: inline-block;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
	background-color: transparent;
color: #72a5e4;
border: 1px solid #72a5e4;
position: absolute;
bottom: 6px;
z-index: 9999;
padding: 17px 39px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
left: 14%;
}
.send-message:hover{
	color:white;
	background-color:#78acec;
	text-decoration:none;
}
.book-now:hover{
	background-color: #25B85B !important;
	color: white !important;
	text-decoration: none !important;
}
.read-review-shell{
	margin-top:.3em;
	margin-bottom: .3em;
}
.read-reviews{
	font-size: 1.1em;
	color: #5d5d5e;
	display:block;
}
.read-reviews:hover{
	color: black;
}
.read-reviews i{
	margin-right:.2em;
}
.book-now{
	display: inline-block;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
	background-color: #3ccd71;
color: white;
border: 1px solid #3ccd71;
padding: 17px 39px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
margin-top:2em;
position: absolute;
bottom: 10px;
left: 12%;
z-index: 9999;
}
.book-now:hover{
	background-color: #25B85B !important;
	color: white !important;
	text-decoration: none !important;
}
.course-numbers{
	font-size:1.3em;
}
.course-numbers .badge{
	font-size:12px;
}
.price{
	color:#3ccd71;
}
/*flip*/

/* entire container, keeps perspective */
.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	margin-left: 2em;
	margin-right: 2em;
	display:inline-block;
	margin-top:2em;
	background:#e7ebf2;
		border:1px solid transparent;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.23);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.23);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.23);
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg); /* Safari and Chrome */
		-moz-transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 206px;
	height: 382px;

}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	-webkit-transition: 0.6s;
-webkit-transform-style: preserve-3d;
-moz-transition: 0.6s;
-moz-transform-style: preserve-3d;
transition: 0.6s;
transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
body{
	height:100%;
}
	.back {
	-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
transform: rotateY(180deg);
padding-top: 1.3em;
padding-bottom: 1.3em;
padding-left: .5em;
padding-right: .5em;
overflow:scroll;
}
.cust-modal{
	position:fixed;
	width:80%;
	height:95%;
	background-color:blue;
	zoom:1;
	overflow:hidden;
	margin-top:4%;
	margin-bottom:4%;
	margin-left:5.5%;
	margin-right:5.5%;
}

/*STARS*/
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
	width: 170px;
	height: 34px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#DDDDDD" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
  margin-top: 15px;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#FFDF88" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}

.review-divider{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px dotted #eeeeee;
}
.review-text{
	text-align:left;
}
.avatar{
	height:100px;
	width:100px;
	border-radius:50%;
	box-shadow:0px 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2em;
}
.modal-body{
	text-align:center;
	zoom:1;
	overflow:hidden;
}
#reviews > .modal-dialog > .modal-content > .modal-header > .modal-title{
	text-align:center;
	font-weight:600;
}
	.four-rating {
        overflow: hidden;
        display: block;
		text-align:left;
      }
      .four-rating > p {
      	display:inline-block;
      	font-weight:600;
      }
      .rating-input {
          position: absolute;
          left: 0;
          top: -50px;
      }
      .helpfulness-rating:hover .rating-star:hover,
      .helpfulness-rating:hover .rating-star:hover ~ .rating-star,
      .helpfulness-rating > .rating-input:checked ~ .rating-star {
          background-position: 0 0;
      }
      .clarity-rating:hover .rating-star:hover,
      .clarity-rating:hover .rating-star:hover ~ .rating-star,
      .clarity-rating > .rating-input:checked ~ .rating-star {
          background-position: 0 0;
      }
      .interest-rating:hover .rating-star:hover,
      .interest-rating:hover .rating-star:hover ~ .rating-star,
      .interest-rating > .rating-input:checked ~ .rating-star {
          background-position: 0 0;
      }
      .professionalism-rating:hover .rating-star:hover,
      .professionalism-rating:hover .rating-star:hover ~ .rating-star,
      .professionalism-rating > .rating-input:checked ~ .rating-star {
          background-position: 0 0;
      }

      .helpfulness-rating > label,
      .helpfulness-rating:hover .helpfulness {
          float: right;
          display: block;
          cursor:pointer;
          width: 24px;
          height: 24px;
          background: url('http://www.gadole.com/guideu/assets/helpfulness-rating.png') 0 -23px;
      }
      .clarity-rating > label,
      .clarity-rating:hover .clarity {
          float: right;
          display: block;
          cursor:pointer;
          width: 24px;
          height: 24px;
          background: url('http://www.gadole.com/guideu/assets/clarity-rating.png') 0 -23px;
      }
      .interest-rating > label,
      .interest-rating:hover .interest {
          float: right;
          display: block;
          cursor:pointer;
          width: 24px;
          height: 24px;
          background: url('http://www.gadole.com/guideu/assets/interest-rating.png') 0 -23px;
      }
      .professionalism-rating > label,
      .professionalism-rating:hover .professionalism {
          float: right;
          display: block;
          cursor:pointer;
          width: 24px;
          height: 24px;
          background: url('http://www.gadole.com/guideu/assets/professional-rating.png') 0 -23px;
      }
      input[type="radio"]{
      	display:none;
      }
}
.additional-comments > p{
	width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 2em;
font-style: italic;
text-align: left;
}
.reviewer{
	font-weight:600;
	text-align:center;
}
#review-dialog{
	width:80%;
}

/*stupidModal*/
.modal-header > .view-full-profile{
	float:left;
	top: 5px;
	position: relative;
}
.profile-modal > .modal-dialog > .modal-content > .modal-footer{
	margin:0;
}
.review-date{
	float: right;
display: inline-block;
margin-top: 15px;
}
.star-rating > input[type="radio"]{
	margin:0;
}
.additional-comments > .star-rating{
	width: 100px;
	height: 20px;
	float:left;
}
.modal-tutor-name{
	color: #5d5d5e;
	font-size:2em;
	text-align:center;
	margin:0;
}
.profile-modal > .modal-dialog > .modal-content > .modal-body{
	padding:0;
}
.profile-modal > .modal-dialog{
	width:82%;
}
.brief{
	padding-top:1em;
	padding-left:.5em;
	padding-right:.5em;
	background-image:url('assets/white-noise-full.jpg');
	background-repeat:repeat;
	overflow:hidden;
    zoom:1;
    padding-bottom:2em;
    font-size:.8em;
}
.tutor-pic{
	text-align: center
}
.tutor-pic img{
	margin-left:auto;
	margin-right:auto;
	max-height: 14em;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}
#details > .tutor-name{
	margin-top:0;
	font-size:3em;
}
#details > .price p{
	color:#388151;
}
.detail-icon{
	height: 40px;
}
.detail{
	font-size:1.6em;
	display:inline;
	position: relative;
	top: .1em;
	padding-left:.5em;
}
.clock p{
	color: #65659a;
}
.education p{
	color: #998d23;
}
#details > .price{
	margin-top:1em;
	text-align:left;
}
.response-time{
	margin-top: 1em;
	text-align:left;
}
.response-time p{
	color:#867388;
}
.clock{
	margin-top:1em;
	text-align:left;
}
.education{
	margin-top:1em;
	text-align:left;
}
.read-reviews{
	margin-top:10px;
}
.read-reviews a{
	font-size: 1.1em;
	color:#5d5d5e;
}
.read-reviews a:hover{
	color:black;
}
.read-reviews i{
	margin-right:.3em;
}
.book-session-stupid{
width: 40%;
max-width: 256px;
margin-right: .2em;
background-color: #3ccd71;
color: white;
padding-bottom: .7em;
padding-top: .7em;
display: inline-block;
margin-bottom: 0;
font-size: 1.5em;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
-webkit-box-shadow: rgba(0,0,0,0.15) 0px 2px 2px 0px;
-moz-box-shadow: rgba(0,0,0,0.15) 0px 2px 2px 0px;
box-shadow: rgba(0,0,0,0.15) 0px 2px 2px 0px;
}
.book-session-stupid:hover{
	background-color:#2BAC5A;
	color:white;
	text-decoration: none;
}
.send-message-stupid:active, .book-session-stupid:active{
	position:relative;
	top:1px;
}
.send-message-stupid{
width: 40%;
max-width: 256px;
margin-right: .2em;
background-color: #72a5e4;
color: white;
padding-bottom: .7em;
padding-top: .7em;
display: inline-block;
margin-bottom: 0;
font-size: 1.5em;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
-webkit-box-shadow: rgba(0,0,0,0.15) 0px 2px 2px 0px;
-moz-box-shadow: rgba(0,0,0,0.15) 0px 2px 2px 0px;
box-shadow: rgba(0,0,0,0.15) 0px 2px 2px 0px;
}
.send-message-stupid:hover{
	background-color:#4F89D1;
	color:white;
	text-decoration:none;
}
.action-buttons{
	margin-top:1em;
}

/*STARS*/
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
	width: 170px;
	height: 34px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#DDDDDD" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#FFDF88" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}
/*END STARS*/

.bio{
	background-color:#EDEEF3;
	padding-bottom:4.4em;
	padding-left:2em;
	padding-right:2em;
	border-top:1px solid #dadfe1;
}
.top-bio{
	padding-bottom:1em;
}
.bio h1{
	color:#5d5d5e;
	text-transform: uppercase;
}
.bio-title{
	padding: .5em;
	border: 2px solid #5d5d5e;
	border-top: 0;
}
.bio p{
	font-size:1.4em;
	margin-top:2em;
	color:#5d5d5e;
}
.credentials{
	padding-top:0;
	float:right;
}
.short-blurb{
	color:#5d5d5e;
}
.short-blurb p{
	font-size:1.3em;
	text-align:justify;
}
.courses-tutored{
	background-image:url('assets/white-grid.jpg');
	border-top:1px solid #dadfe1;
	background-repeat:repeat;
	padding-bottom:9em;
	padding-top:.5em;
	overflow:hidden;
    zoom:1;
}
.courses-tutored h1{
	text-align:center;
	color:#5d5d5e;
}
.courses-tutored-holder{
	padding-left:.7em;
	padding-right:.7em;
	height:200px;
}
.math{
	width:100%;
	height:100%;
	background-image:url('assets/math-actual.jpg');
	background-size:cover;
}
.spanish{
	width:100%;
	height:100%;
	background-image:url('assets/spanish.jpg');
	background-size:cover;
}
.econ{
	width:100%;
	height:100%;
	background-image:url('assets/econ.jpg');
	background-size:cover;
}
.subject{
	color:white;
	text-align: center;
	padding-top: 2px;
	margin-top:2em;
}
.subject h2{
	text-shadow: 1px 1px 1px black;
}
.badge{
	font-size:1.3em;
	margin-left:2px;
	margin-right:2px;
	margin-top:3px;
}
.badge:hover{
	background-color:#727272;
}
.jagged-divider{
	background-image:url('assets/jagged.png');
	height:37px;
	position:relative;
	top:-37px;
	margin-bottom:-37px;
}
.reviews{
	background-image:url('assets/reviews-background.jpg');
	overflow:hidden;
    zoom:1;
    padding-left: 1em;
	padding-right: 1em;
	padding-top:.5em;
	border-top: 1px solid #dadfe1;
}
.reviews h1{
	color:#5d5d5e;
	text-align:center;
}
.average{
	text-align:center;
}
.average p{
	color: #F7D570;
	display: inline-block;
	font-size: 2em;
	font-size: 2.3em;
	position: relative;
	font-weight: 600;
	top: -3px;
	margin-right: 1em;
}
.small-type{
	padding-left: 120px;
display: inline;
float: right;
position: relative;
top: -100px;
color: #5d5d5e;
font-family: Maven-three;
font-size: 1.1em;
line-height: 1.7em;
}
.avatar{
	height:100px;
	width:100px;
	border-radius:50%;
	box-shadow:0px 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}
.review{
	margin-top:2em;
}
.helpfulness{
	color:rgb(155, 40, 155);
}
.clarity{
	color:rgb(235, 73, 73);
}
.rating span{
	float: right;
	padding-right: 45%;	
}
.interest{
	color:rgb(72, 67, 202);
}
.professionalism{
	color:rgb(45, 194, 128);
}
.reviewer{
	font-weight:700;
}
.view-all{
	font-size:1.3em;
	position:relative;
	top:-3em;
	margin-left:1em;
}

li.darken {
    display: inline-block;
    background: #e7ebf2;
    padding: 0;
}

li.darken img {
    display: block;
    
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

li.darken:hover img {
    opacity: 0.7;
            
}

.new-tile{
	margin-top: 2em;
	margin-left: 1em;
	margin-right: 1em;
	width: 206px;
	/*height: 420px;*/
	height: 382px;
	background: #e7ebf2;
	overflow:hidden;
	display:inline-block;
	position:relative;
	-webkit-transition: padding-bottom 0.5s ease;
transition: padding-bottom 0.5s ease;
}
.new-tile > figure{
	height: 255px;
overflow: hidden;
}
.card-content{
	height: 228px;
	padding-bottom:71px;
overflow: hidden;
background: #e7ebf2;
position:relative;
-webkit-transition: height 0.5s ease;
transition: height 0.5s ease;
}
.message-new-tile{
	width: 93%;
	margin-bottom: 5px;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: white;
	border: 1px solid #72a5e4;
	background-color: #72a5e4;
	font-size: 15px;
	line-height: 1.33;
	border-radius: 6px;
	position: relative;
	padding-top: 6px;
	padding-bottom: 6px;
}
.message-new-tile:hover{
background-color: #4F89D1;
color: white;
text-decoration: none;
}
.book-new-tile{
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: white;
	border: 1px solid #3ccd71;
	background-color: #3ccd71;
	font-size: 15px;
	line-height: 1.33;
	border-radius: 6px;
	position: relative;
	width: 100%;
	padding-top: 6px;
	padding-bottom: 6px;

}
.book-new-tile:hover{
	color: white;
background-color: #2BAC5A;
text-decoration: none;
}
.card-footer{
	position: absolute;
	background: #e7ebf2;
	bottom: 0;
	left: 0;
	line-height: 12px;
	padding: 7px;
	right: 0;
	z-index: 3;
}
.new-tutor-price{
	margin: 0;
margin-top: 16px;
color:#5d5d5e;
}
.new-tutor-name{
	margin: 0;
margin-top: 10px;
color:#5d5d5e;
}
.card-content > .star-rating{
	margin-top:5px;
	margin-bottom:5px;
}
.new-tutor-pic{
	cursor:pointer;
}
.card__tags{
-webkit-font-smoothing: antialiased;
color: rgb(51, 51, 51);
cursor: pointer;
display: block;
font-family: freight, 'Helvetica Neue', Arial, Helvetica, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
height: 73px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: absolute;
right: 8px;
top: -3px;
width: 68px;
z-index: 5;
zoom: 1;
}
.tag--price{
	-webkit-font-smoothing: antialiased;
color: rgb(51, 51, 51);
cursor: pointer;
display: block;
float: right;
font-family: freight, 'Helvetica Neue', Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: normal;
font-weight: normal;
height: 73px;
margin-bottom: 0px;
margin-left: 6px;
margin-right: 0px;
margin-top: 0px;
min-width: 50px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: center;
width: 62px;
zoom: 1;
}
.tag--price:before {
background-color: rgb(254, 239, 109);
display: block;
height: 18px;
left: -29px;
position: absolute;
top: 0px;
width: 14px;
}
.tag--price:after{
background-color: rgb(209, 195, 66);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
display: block;
height: 3px;
left: -4px;
position: absolute;
top: 0px;
width: 4px;
}
.tag--price{
	-webkit-font-smoothing: antialiased;
color: rgb(51, 51, 51);
cursor: pointer;
display: block;
float: right;
font-size: 11px;
font-style: normal;
font-weight: normal;
height: 73px;
margin-bottom: 0px;
margin-left: 6px;
margin-right: 0px;
margin-top: 0px;
min-width: 50px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: center;
width: 62px;
zoom: 1;
}
.tag--price__amount{
	font-size:15px;
}
.tag--price__inner{
	border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-top-right-radius: 6px;
-webkit-font-smoothing: subpixel-antialiased;
-moz-osx-font-smoothing: auto;
font-smoothing: subpixel-antialiased;
}
.tag--price__values{
color: white;
background-color: #3ccd71;
padding: 6px 8px;
padding-top: 12px;
padding-left: 0px;
padding-right: 0px;
height: 46px;
border-radius: 4px;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topright: 0;
border-top-right-radius: 0;
border-radius: 4px;
-webkit-border-top-left-radius: 0;
-moz-border-radius-topleft: 0;
border-top-left-radius: 0;
-webkit-box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, 0.5);
-moz-box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, 0.5);
box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, 0.5);
}
.course-numbers-holder{
	/*height: 100px;*/
height:105px;
margin-bottom: 7px;
overflow: hidden;
}
/*footer*/
footer{
	padding-top:3em;
	padding-bottom:.3em;
	height:auto;
	background-image:url('assets/footer-bg.png');
	background-position: center;
	background-size:cover;
	text-align:center;
}
.footer-links{

}
.footer-links a{
	margin-left:.3em;
	margin-right:.3em;
	color:rgb(207, 207, 207);
	font-weight:100;
}
.footer-actions{
	float
}
.footer-actions a{
	margin-left:.5em;
	margin-right:.5em;
	font-weight:300;
}
.become-tutor-footer{
	color:#579eee;
}
.sign-up-footer{
	color:#3ccd71;
}
footer img{
	margin-left:auto;
	margin-right:auto;
	margin-top:8em;
	margin-bottom:8em;
}
footer p{
	color:white;
	text-align:center;
}