/*header*/

header{
	height:65px;
	background: #72a5e4;
}
.navbar-brand img{
	height:34px;
}
.signup-login{
	float:right;
	border-radius:5px;
	padding-right:1em;
	padding-top:1em;
}
.signup-login a{
	color:white;
	display: inline-block;
float: left;
padding: 10px;
border: 1px solid rgba(255,255,255,.99);
/*-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; flat or rounded??? */
line-height: 16px;
margin: 0;
text-transform: uppercase;
font-size: 11px;
}
#signup{
	-webkit-border-top-right-radius: 0;
-moz-border-radius-topright: 0;
border-top-right-radius: 0;
-webkit-border-bottom-right-radius: 0;
-moz-border-radius-bottomright: 0;
border-bottom-right-radius: 0;
border-right: 0;
}
#login{
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
}
.signup-login a:hover {
	color: rgb(73, 73, 73);
	background-color: #f7fbfc;
	text-decoration:none;
}
/*end header*/
.brief{
	padding-top:1em;
	padding-left:.5em;
	padding-right:.5em;
	background-image:url('assets/white-noise-full.jpg');
	background-repeat:repeat;
	overflow:hidden;
    zoom:1;
    padding-bottom:2em;
}
.tutor-pic{
	text-align: center
}
.tutor-pic img{
	margin-left:auto;
	margin-right:auto;
	max-height: 18em;
}
.tutor-name{
	margin-top:0;
	font-size:3em;
}
#details{
}
#details h1{
	color: #5d5d5e;
	padding-left:1.8em;
}
.price p{
	color:#388151;
}
.detail{
	font-size:1.7em;
	display:inline;
	position: relative;
	top: .1em;
	padding-left:.5em;
}
.clock p{
	color: #65659a;
}
.education p{
	color: #998d23;
}
.price{
	margin-top:1em;
	padding-left:5em;
}
.clock{
	margin-top:1em;
	padding-left:5em;
}
.education{
	margin-top:1em;
	padding-left:5em;
}
.read-reviews{
	margin-top:10px;
}
.read-reviews a{
	font-size: 1.5em;
	color:#5d5d5e;
}
.read-reviews a:hover{
	color:black;
}
.read-reviews i{
	margin-right:.3em;
}
.book-session{
	background-color:transparent;
	color: #3ccd71;
	border: 1px solid #3ccd71;
	padding: 1.5em;
	margin-top: 2.8em;
	display: inline-block;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.book-session:hover{
	background-color:#3ccd71;
	color:white;
	text-decoration: none;
}
.send-message{
	margin-left: 2em;
	background-color:transparent;
	color: #65659a;
	border: 1px solid #65659a;
	padding: 1.5em;
	margin-top: 2.8em;
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.send-message:hover{
	background-color:#65659a;
	color:white;
	text-decoration:none;
}
.action-buttons{
	margin-left:5.5em;
}

/*STARS*/
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
	width: 170px;
	height: 34px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#DDDDDD" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#FFDF88" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}
/*END STARS*/

.bio{
	background-color:#EDEEF3;
	padding-bottom:4.4em;
	padding-left:2em;
	padding-right:2em;
	border-top:1px solid #dadfe1;
}
.top-bio{
	padding-bottom:1em;
}
.bio h1{
	color:#5d5d5e;
	text-transform: uppercase;
}
.bio-title{
	padding: .5em;
	border: 2px solid #5d5d5e;
	border-top: 0;
}
.bio p{
	font-size:1.4em;
	margin-top:2em;
	color:#5d5d5e;
}
.credentials{
	padding-top:.8em;
}
.short-blurb{
	color:#5d5d5e;
	padding-left:3em;
	margin-bottom:1.5em;
}
.courses-tutored{
	background-image:url('assets/white-grid.jpg');
	border-top:1px solid #dadfe1;
	background-repeat:repeat;
	padding-bottom:9em;
	padding-top:.5em;
	overflow:hidden;
    zoom:1;
}
.courses-tutored h1{
	text-align:center;
	color:#5d5d5e;
}
.courses-tutored-holder{
	padding-left:.7em;
	padding-right:.7em;
	height:200px;
}
.math{
	width:100%;
	height:100%;
	background-image:url('assets/math-actual.jpg');
	background-size:cover;
}
.spanish{
	width:100%;
	height:100%;
	background-image:url('assets/spanish.jpg');
	background-size:cover;
}
.econ{
	width:100%;
	height:100%;
	background-image:url('assets/econ.jpg');
	background-size:cover;
}
.subject{
	color:white;
	text-shadow:1px 1px 1px black;
	text-align: center;
	padding-top: 2px;
	margin-top:2em;
}
.badge{
	font-size:1.3em;
	margin-left:2px;
	margin-right:2px;
	margin-top:3px;
}
.badge:hover{
	background-color:#727272;
}
.jagged-divider{
	background-image:url('assets/jagged.png');
	height:37px;
	position:relative;
	top:-37px;
	margin-bottom:-37px;
}
.reviews{
	background-image:url('assets/reviews-background.jpg');
	overflow:hidden;
    zoom:1;
    padding-left: 1em;
	padding-right: 1em;
	padding-top:.5em;
}
.reviews h1{
	color:#5d5d5e;
	text-align:center;
}
.average{
	text-align:center;
}
.average p{
	color: #ffe082;
	text-shadow: 1px 1px 1px #BD9F43;;
	display: inline-block;
	font-size:2em;
	font-size: 2.3em;
	position: relative;
	top: -3px;
	margin-right:1em;
}
.small-type{
	padding-left: 120px;
display: inline;
float: right;
position: relative;
top: -100px;
color: #5d5d5e;
font-family: Maven-three;
font-size: 1.1em;
line-height: 1.7em;
}
.avatar{
	height:100px;
	width:100px;
}
.review{
	margin-top:2em;
}
.helpfulness{
	color:rgb(155, 40, 155);
}
.clarity{
	color:rgb(235, 73, 73);
}
.rating span{
	float: right;
	padding-right: 45%;	
}
.interest{
	color:rgb(72, 67, 202);
}
.professionalism{
	color:rgb(45, 194, 128);
}
.reviewer{
	font-weight:700;
}
.view-all{
	font-size:1.3em;
	position:relative;
	top:-3em;
	margin-left:1em;
}

/*footer*/
footer{
	padding-top:3em;
	padding-bottom:.3em;
	height:auto;
	background-image:url('assets/footer-bg.png');
	background-position: center;
	background-size:cover;
	text-align:center;
}
.footer-links{

}
.footer-links a{
	margin-left:.3em;
	margin-right:.3em;
	color:rgb(207, 207, 207);
	font-weight:100;
}
.footer-actions{
	float
}
.footer-actions a{
	margin-left:.5em;
	margin-right:.5em;
	font-weight:300;
}
.become-tutor-footer{
	color:#579eee;
}
.sign-up-footer{
	color:#3ccd71;
}
footer img{
	margin-left:auto;
	margin-right:auto;
	margin-top:8em;
	margin-bottom:8em;
}
footer p{
	color:white;
	text-align:center;
}
